*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/*Стили для демонстрации*/
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

.wrapper3 {
    display: none;
    padding: 25px;
}

/*.wrapper2 {*/
/*    !*height: 90%;*!*/
/*    padding: 25px;*/
/*}*/

.banner3 {
    position: relative;
    padding-bottom: 30px;
}

.hero__bg {
    display: block;
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
}

.hero__bg img {
    top: 0;
    width: 100%;
    /*height: 100%;*/
    position: absolute;
    object-fit: cover;
    left: 0;
    z-index: -1;
}

.hero__title {
    padding-top: 150px;
}
small{
    display: block;
    margin-top: 10px;
}
.slider2 .slider2__item {
    border: 1px solid black;
    margin-left: 10px;
}

@media (min-width: 1200px) {
    .hero__bg-1 {
        /*display: block;*/
    }

    .hero__bg-2 {
        display: none;

    }

    .hero__bg-3 {
        display: none;
    }
}


.slider2 {
    position: relative;
}

.slider2 .slick-list {
    overflow: hidden;
}

.slider2 .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0 0 0;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider2 .slick-arrow.slick-prev {
    left: 0;
    background: url("../img/angle-left-solid.svg") 0 0 / 100% no-repeat;
}

.slider2 .slick-arrow.slick-next {
    right: 0;
    background: url("../img/angle-right-solid.svg") 0 0 / 100% no-repeat;
}


.slider2 .slick-track {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 1200px) {
    /*.hero__bg-1 {*/
    /*    display: block;*/
    /*}*/
    .hero__bg-2 {
        display: none;

    }

    .hero__bg-3 {
        display: none;
    }
}

@media (max-width: 800px) {
    .hero__bg-1 {
        display: none;
    }

    .hero__bg-2 {
        display: block;
    }

    .hero__bg-3 {
        display: none;
    }
}

@media (max-width: 540px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .wrapper3 {
        display: block;
        padding: 0;
    }

    .banner3 {
        text-align: center;
    }

    .hero__title {
        padding-top: 20px;
    }

    .hero__bg img {
        height: 100%;
    }

    .hero__bg-1 {
        display: none;
    }

    .hero__bg-2 {
        display: none;
    }

    .hero__bg-3 {
        display: block;
    }

    .slider2 .slick-arrow.slick-prev {
        left: 15px;
    }

    .slider2 .slick-arrow.slick-next {
        right: 15px;
    }
}

/*.banner {*/
/*    background: url("../img/hero-bg.png") 0 0/cover no-repeat;*/
/*    text-align: start;*/
/*}*/

/*.hero__title {*/
/*    padding-top: 150px;*/
/*}*/

/*.wrapper{*/
/*    display: none;*/
/*}*/
/*.slider2 .slider2__item {*/
/*    border: 1px solid black;*/
/*    margin-left: 10px;*/
/*}*/

/*.slider .slider-cart__img {*/
/*    !*max-width: 225px;*!*/
/*}*/

/*.slider .slick-track {*/
/*    display: flex;*/
/*    !*align-items: flex-start;*!*/
/*}*/

/*.slider .slick-list {*/
/*    overflow: hidden;*/
/*}*/

/*.slider {*/
/*    position: relative;*/
/*    padding: 0 30px;*/
/*}*/

/*.slider .slick-arrow {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    z-index: 10;*/
/*    font-size: 0;*/
/*    width: 30px;*/
/*    height: 50px;*/
/*    margin: -25px 0 0 0;*/
/*    border: none;*/
/*}*/

/*.slider .slick-arrow.slick-prev {*/
/*    left: 0;*/
/*    background: url("../img/angle-left-solid.svg") 0 0 / 100% no-repeat;*/
/*}*/

/*.slider .slick-arrow.slick-next {*/
/*    right: 0;*/
/*    background: url("../img/angle-right-solid.svg") 0 0 / 100% no-repeat;*/
/*}*/

/*.slider .slick-arrow.slick-disabled {*/
/*    opacity: 0.2;*/
/*}*/

/*.slider .btn-primary {*/
/*    position: relative;*/
/*    z-index: 0;*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    !*background-image: var(--blue-gradient);*!*/
/*    color: #fff;*/
/*}*/

.btn {
    position: relative;
    flex-shrink: 0;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    padding: 15px 32px;
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    /*font-family: A;*/
    /*letter-spacing: 1.2px;*/
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 27px;
    box-shadow: none;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    /*transition: color var(--base-transition), border-color var(--base-transition), background-color var(--base-transition);*/
    margin-top: 30px;
}

/*@media screen and (max-width: 1200px) {*/
/*    .banner {*/
/*        background: url("../img/hero-bg-v22.png") 0 0/cover no-repeat;*/
/*    }*/

/*    .banner2 {*/
/*        background: url("../img/hero-bg-v22.png") 0 0/cover no-repeat;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 991px) {*/
/*    .btn {*/
/*        font-size: 16px;*/
/*        line-height: 20px;*/
/*    }*/

/*    .banner {*/
/*        background: url("../img/hero-bg-v23.png") 0 0/cover no-repeat;*/
/*        !*text-align: center;*!*/
/*    }*/

/*    .banner2 {*/
/*        background: url("../img/hero-bg-v23.png") 0 0/cover no-repeat;*/

/*    }*/

/*    .hero__title {*/
/*        !*color: red;*!*/
/*    }*/

/*}*/

/*@media screen and (max-width: 750px) {*/
/*    .banner {*/
/*        background: url("../img/hero-bg-750.png") 100% no-repeat;*/
/*        color: blueviolet;*/
/*    }*/

/*    .banner2 {*/
/*        background: url("../img/hero-bg-750.png") 100% no-repeat;*/
/*        color: blueviolet;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 576px) {*/
/*    .banner {*/
/*        background: url("../img/hero-bg-320.png") 50%/cover no-repeat;*/
/*        text-align: center;*/
/*        color: red;*/
/*    }*/

/*    .wrapper3 {*/
/*        display: block;*/
/*    }*/

/*    img {*/
/*        max-width: 220px;*/
/*        border: 1px solid red;*/
/*        margin-left: 5px;*/
/*        margin-right: 5px;*/
/*    }*/

/*    .slider2 .slick-arrow.slick-next {*/
/*        right: -20px;*/
/*    }*/

/*    .slider2 .slick-arrow.slick-prev {*/
/*        left: -20px;*/
/*    }*/


/*}*/

/*@media screen and (max-width: 576px) {*/
/*    !*.banner2 {*!*/
/*    !*    background: url("../img/hero-bg-v2 (6).png")0 0/cover no-repeat;*!*/
/*    !*}*!*/
/*}*/